:root {
	/* Dark Mode */

	--background-color: #171823;
	--background-app: #25273d;
	--box-shadow: none;
	--text-color-base: #c8cbe7;
	--text-color-medium: #5b5e7e;
	--text-color-light: #4d5067;
	--background-image: url('../images/bg-desktop-dark.jpg');
	--background-image-sm: url('../images/bg-mobile-dark.jpg');
}
